@import "tailwindcss";

/* TODO: THINK ABOUT LIGHT/DARK MODE */
:root {
    --color-bg: #0d1117;
    /* Dark background */
    --color-bg-light: #161b22;
    /* Slightly lighter bg (cards/sections) */
    --color-text: #e6edf3;
    /* Main text color */
    --color-text-muted: #8b949e;
    /* Muted text for subtitles */
    --color-primary: #58a6ff;
    /* Accent color for links/buttons */
    --color-secondary: #f778ba;
    /* Secondary accent */
    --color-border: #30363d;
    /* Border lines */
    --color-hover: #1f6feb;
    /* Hover state for buttons/links */
}

@media (prefers-color-scheme: dark) {}

body {
    background: var(--color-bg);
    color: var(--color-bg-light);
    font-family: Arial, Helvetica, sans-serif;
}

/*TODO: fine tune media sizing, color and variables  */
.project-card  {
    background: var(--color-bg-light);
    @apply flex items-center
}
